APP_NAME=Quản lý cơ sở thẩm mỹ Hải Châu-DEV
ANDROID_STORE_FILE=debug.keystore
ANDROID_STORE_PASSWORD=android
ANDROID_KEY_ALIAS=androiddebugkey
ANDROID_KEY_PASSWORD=android
GOOGLE_API_KEY=AIzaSyDGZOhb6qWmy1PLYJrLmtBho18Vasw0C_U
SYNC_REVIEW_END_POINT=https:/$()/cgy.greenglobal.com.vn/api/gopy
SYNC_REVIEW_USER_NAME=testapi
SYNC_REVIEW_PASSWORD=Gopy@123
